@charset "utf-8";
/* CSS Document */

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.team {
    width: 320px;
    height: 480px;
    overflow: hidden;
    margin: 8px;
    border: 2px solid var(--primary);
    border-radius: 16px;
    position: relative;
    background-color: #ffffff34;
}

.team::before {
    content: '';
    background-image: var(--img);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    filter: blur(4px) grayscale(60%);
}

.team img {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 480px;
    border-radius: 16px;
    z-index: 3;
    object-fit: cover;
    border: none;
}

.team:hover img {
    width: 200px;
    height: 300px;
    border: 2px solid var(--primary);
    left: 60px;
    top: 40px;
}

.team .info {
    background-color: #004d9d;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 2;
    color: white;
    padding: 16px;
    border-top: 8px solid var(--primary);
   
    text-align: center;
    transform: scale(2)
}

.team .name {
    font-size: 24px;
    padding: 2px 16px;
    text-transform: capitalize;
}

.team .title {
    color: white;
    text-transform: capitalize;
}

.team:hover .info {
    transform: scale(1)
}

.team .social {
    padding-block: 16px;
    font-size: 24px;
}

.team .social i {
    display: inline-block;
    width: 48px;
    padding: 12px;
    background-color: #ededed;
    border-radius: 16px;
    margin: 4px;
    cursor: pointer;
}

.team .social i:hover {
    color: var(--primary);
    background-color: #363636;

}

.meet-the-team {
	font-size: 60px;
	font-weight: bold;
	color: #004d9d;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}




.container {
	border-radius: 30px;
  	background-color: #f2f2f2;
  	padding-top: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
	position: absoulte;
	left: 50%;
	transform: translate (-50%);
}


h5{
	font-size: 60px;
	font-weight: bold;
	color: #004d9d;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	
}

h6{
	font-size: 30px;
	font-weight: bold;
	color: #004d9d;
	text-align: justify;
	padding-left: 20px;
	
}

.list-of-alumni {
	margin-bottom: 50px;
}

.alumni-name {
	font-size: 20px;
	font-weight: bold;
	text-align: justify;
	padding-left: 20px;
}

.alumni-background {
	font-size: 18px;
	font-weight: bold;
	color: #d66f00;
	text-align: justify;
	padding-left: 20px;
}

@media screen and (max-width: 500px) {
.trial123 {
	display: none;
}
}
