@charset "utf-8";
/* CSS Document */

/*
.banner-image {
	height: 500px;
	background-image: url("banner-image2.png");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	background-attachment: fixed;
  	position: relative;
}
*/

/*Profile session styling begins here*/
.column {
  float: left;
  width: 25%;
  margin-bottom: 50px;
  padding: 15px;
}

.card {
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  	margin: 10px;
}


h2{
	color: #003D7C;
	font-size: 18px;
	font-weight: bold;
}

/*Current Member*/
h4 {
	color: #003D7C;
	font-size: 40px;
	font-weight: bold;
}

/*line after the "Current Member"*/
h4::after {
 	display: block;
  	content: '';
  	width: 22%;
  	height: 3px;
  	background: #d66f00;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
}

.profile-container {
  	padding: 20px 16px 16px 16px;
	background-image: linear-gradient(to right, #3B3131, #6D6968);
	color: white;
	font-family: "Frutiger",Arial,sans-serif;
	text-align: center;
}
	
.profile-container h2 {
	color: white;
	text-align: center;
}

.profile-container::after, .row::after {
  	content: "";
	clear: both;
  	display: table;
}

.title {
  	color: #d66f00;
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 5px;
}


/*button for lab member scholar profile*/
.button {
  	border: none;
  	outline: 0;
  	display: inline-block;
  	padding: 8px;
  	color: white;
  	background-color: #d66f00;
  	text-align: center;
  	cursor: pointer;
  	width: 40%;
	font-size: 13px;
	font-weight: bold;
	border-radius: 10px;
}

.button:hover {
  	background-color: #cacaca;
	color: black;
	font-weight: bold;
}

/*button for the link to lab alumni list*/
.alumni{
  text-align: center;
}

.alumni-button {
  	border: none;
  	outline: 0;
  	display: inline-block;
  	padding: 10px;
  	color: white;
	font-size: 15px;
  	font-weight: normal;
  	background-color: #003062;
  	text-align: center;
  	cursor: pointer;
  	width: 10%;
	border-radius: 50px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.alumni-button:hover {
  	background-color: #d66f00;
	color: white;
	font-weight: bold;
}

@media screen and (max-width: 500px) {
.column {
	width: 80%;
	height: auto;
    	display: block;
	text-align: center;
  }
}

@media screen and (min-width: 500px) {
.column {
	width: 50%;
	height: auto;
    display: block;
  }
}

@media screen and (min-width: 800px) {
.column {
	width: 33.33%;
	height: auto;
    display: block;
  }
}

@media screen and (min-width: 1100px) {
.column {
	width: 25%;
	height: auto;
    display: block;
  }
}

@media screen and (max-width: 500px) {
.trial123 {
	display: none;
}
	
.alumni-button {
	width: 40%;
}

.banner-image {
	background-image: url("banner-image2r.png");
}
}
