@charset "utf-8";
/* CSS Document */

/*
.banner-image {
	height: 500px;
	background-image: url("banner-image2.png");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	background-attachment: fixed;
  	position: relative;
}
*/

table {
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	max-width: 1300px;
	color: #2e323b;
	text-align: justify;
}


td {
	padding: 10px 10px 10px 30px;
	background-color: antiquewhite;
}

table tr td img {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}







/*content section-right column styling begins here*/
.name {
	text-align: justify;
	padding-top: 10px;
	padding-bottom: 10px;
}

.contact {
	font-size: 14px;
	padding-left: 10px;
}

.meet-the-team {
	text-align: center;
	margin-top: 50px;
}

.principal-investigator {
	text-align: center;
	margin-top: 20px;
}

.lab-members {
	text-align: center;
	margin-top: 20px;
}

h10 {
	font-weight: bold;
	font-size: 80px;
	color: #004d9d;
}

h9{ 
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: bold;
	font-size: 50px;
	color: #004d9d;
}

h2{
	font-size: 20px;
	font-weight: bold;
	color: #004d9d;
}

h3{
	font-size: 28px;
	font-weight: bold;
	color: #004d9d;
	padding-left: 10px;
}

h5{
	font-size: 21px;
	font-weight: bold;
	color: #004d9d;
	padding-left: 10px;
}

.academic-qualifications {
	text-align: justify;
	padding: 10px;
}

.research-interest {
	text-align: justify;
	padding: 10px;
}

/*button for lab member scholar profile*/
.button {
  	border: none;
  	outline: 0;
  	display: block;
  	padding: 8px;
  	color: white;
  	background-color: #004d9d;
  	cursor: pointer;
  	width: 30%;
	font-size: 13px;
	font-weight: bold;
	border-radius: 10px;
}

.button:hover {
  	background-color: #cacaca;
	color: black;
	font-weight: bold;
}

/*button for the link to lab alumni list*/
.alumni{
  text-align: center;
}

.alumni-button {
  	border: none;
  	outline: 0;
  	display: inline-block;
  	padding: 10px;
  	color: white;
	font-size: 15px;
  	font-weight: normal;
  	background-color: #003062;
  	text-align: center;
  	cursor: pointer;
  	width: 10%;
	border-radius: 50px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.alumni-button:hover {
  	background-color: #d66f00;
	color: white;
	font-weight: bold;
}

@media screen and (max-width: 500px) {
.column {
	width: 100%;
	height: auto;
    display: block;
  }
}

@media screen and (min-width: 500px) {
.column {
	width: 50%;
	height: auto;
    display: block;
  }
}

@media screen and (min-width: 800px) {
.column {
	width: 33.33%;
	height: auto;
    display: block;
  }
}

@media screen and (min-width: 1100px) {
.column {
	width: 25%;
	height: auto;
    display: block;
  }
}

@media screen and (max-width: 500px) {
.trial123 {
	display: none;
}
}
